<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BusinessApp" value="notepad"/>
		<add key="MaxWeight" value="150"/>
		<add key="PrioritaryExt1" value=".pdf"/>
		<add key="PrioritaryExt2" value=".png"/>
		<add key="PrioritaryExt3" value=".txt"/>
	</appSettings>
</configuration>