<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ProSoft.EasySave.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="BusinessApp" value="notepad"/>
		<add key="MaxWeight" value="150"/>
		<add key="PrioritaryExt1" value=".pdf"/>
		<add key="PrioritaryExt2" value=".png"/>
		<add key="PrioritaryExt3" value=".txt"/>
	</appSettings>
 <userSettings>
  <ProSoft.EasySave.Presentation.Properties.Settings>
   <setting name="languageCode" serializeAs="String">
    <value>en-US</value>
   </setting>
  </ProSoft.EasySave.Presentation.Properties.Settings>
 </userSettings>
</configuration>